# Reading catalog - LSST DP0 from Rubin Science Plataform

Uses the Table Access Protocol. 
<a href="http://www.ivoa.net/documents/TAP">Doc for TAP

In [44]:
import time
import numpy as np
import matplotlib.pyplot as plt
import pandas

from lsst.rsp import get_tap_service

In [20]:
pandas.set_option('display.max_rows', 20)

In [21]:
service = get_tap_service()

assert service is not None
assert service.baseurl == "https://data.lsst.cloud/api/tap"

## Diving in the schemas to see what we have

In [22]:
query = "SELECT * FROM tap_schema.schemas"
results = service.search(query).to_table()

results

<Table length=5>
                                                                                                              description                                                                                                               ...
                                                                                                                 str512                                                                                                                 ...
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- ...
             Data Preview 0.1 includes five tables based on the DESC's Data Challenge 2 simulation of 300 square degrees of the wide-fast-deep LSST survey region after 5 years. All tables contain objects detected in coadded images. ...
Data Preview 0.2 contains the image and catalog products of the Rubin Science Pipelines v23 processing of the DESC Data Challenge 2 simulation, which covered 300 square degrees of the wide-fast-deep LSST survey region over 5 years. ...
                                                                                                                                                                                          ObsCore v1.1 attributes in ObsTAP realization ...
                                                                                                                                                              A TAP-standard-mandated schema to describe tablesets in a TAP 1.1 service ...
                                                                                                                                                                                                                           UWS Metadata ...

In [5]:
query = "SELECT * FROM tap_schema.tables WHERE tap_schema.tables.schema_name = 'dp02_dc2_catalogs' order by table_index ASC"

results = service.search(query).to_table()
results

<Table length=8>
                                                                                                                                                description                                                                                                                                                  ...
                                                                                                                                                   str512                                                                                                                                                    ...
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ ...
                                                                                                                                                                                                                    Properties of the astronomical objects detected and measured on the deep coadded images. ...
                                                                                                                                                                              Properties of detections on the single-epoch visit images, performed independently of the Object detections on coadded images. ...
Forced-photometry measurements on individual single-epoch visit images and difference images, based on and linked to the entries in the Object table. Point-source PSF photometry is performed, based on coordinates from a reference band chosen for each Object and reported in the Object.refBand column. ...
                                                                                                                          Properties of time-varying astronomical objects based on association of data from one or more spatially-related DiaSource detections on individual single-epoch difference images. ...
                                                                                                                                                                                                                            Properties of transient-object detections on the single-epoch difference images. ...
                                                                                                                                                                                  Metadata about the pointings of the DC2 simulated survey, largely associated with the boresight of the entire focal plane. ...
                                                                                                                                                                                                                    Metadata about the 189 individual CCD images for each Visit in the DC2 simulated survey. ...
                                                                                                                                                                              Static information about the subset of tracts and patches from the standard LSST skymap that apply to coadds in these catalogs ...

## Get columns for DP0 Objects

In [6]:
results = service.search("SELECT column_name, datatype, description, unit from TAP_SCHEMA.columns WHERE table_name = 'dp02_dc2_catalogs.Object'")
results.to_table().to_pandas()

,column_name,datatype,description,unit
0,coord_dec,double,Fiducial ICRS Declination of centroid used for...,deg
1,coord_ra,double,Fiducial ICRS Right Ascension of centroid used...,deg
2,deblend_nChild,int,Number of children this object has (defaults t...,
3,deblend_skipped,boolean,Deblender skipped this source,
4,detect_fromBlend,boolean,This source is deblended from a parent with mo...,
...,...,...,...,...
986,z_psfFlux_flag_apCorr,boolean,Set if unable to aperture correct base_PsfFlux...,
987,z_psfFlux_flag_edge,boolean,Object was too close to the edge of the image ...,
988,z_psfFlux_flag_noGoodPixels,boolean,Not enough non-rejected pixels in data to atte...,
989,z_psfFluxErr,double,Flux uncertainty derived from linear least-squ...,nJy
990,z_ra,double,Position in ra/dec. Measured on z-band.,deg

## Get bands for objects - circle and limiting by r band

In [7]:
max_rec = 10
use_center_coords = "62, -37"
use_radius = "1.0"

In [30]:
bands = ['g', 'i', 'r', 'u', 'y', 'z']

mags = ""
for band in bands:
    mags+= f"scisql_nanojanskyToAbMag({band}_cModelFlux) AS mag_{band}_cModel, {band}_cModelFluxErr, "

columns_query = f"objectId, coord_ra, coord_dec, {mags}detect_isPrimary, r_extendedness "

r_extendedness = 1 for extended sources, 0 for point sources. Measured on r-band. So for galaxies set 1 and stars 0

In [31]:
query = "SELECT " + columns_query + \
        "FROM dp02_dc2_catalogs.Object " + \
        "WHERE CONTAINS(POINT('ICRS', coord_ra, coord_dec), CIRCLE('ICRS', " + use_center_coords + ", " + use_radius + ")) = 1 " + \
        "AND detect_isPrimary = 1 " + \
        "AND scisql_nanojanskyToAbMag(r_cModelFlux) > 17.0 " + \
        "AND scisql_nanojanskyToAbMag(r_cModelFlux) < 23.0 "
print(query)

SELECT objectId, coord_ra, coord_dec, scisql_nanojanskyToAbMag(g_cModelFlux) AS mag_g_cModel, g_cModelFluxErr, scisql_nanojanskyToAbMag(i_cModelFlux) AS mag_i_cModel, i_cModelFluxErr, scisql_nanojanskyToAbMag(r_cModelFlux) AS mag_r_cModel, r_cModelFluxErr, scisql_nanojanskyToAbMag(u_cModelFlux) AS mag_u_cModel, u_cModelFluxErr, scisql_nanojanskyToAbMag(y_cModelFlux) AS mag_y_cModel, y_cModelFluxErr, scisql_nanojanskyToAbMag(z_cModelFlux) AS mag_z_cModel, z_cModelFluxErr, detect_isPrimary, r_extendedness FROM dp02_dc2_catalogs.Object WHERE CONTAINS(POINT('ICRS', coord_ra, coord_dec), CIRCLE('ICRS', 62, -37, 1.0)) = 1 AND detect_isPrimary = 1 AND scisql_nanojanskyToAbMag(r_cModelFlux) > 17.0 AND scisql_nanojanskyToAbMag(r_cModelFlux) < 23.0

### Sync

memory_usage = deep get memory usage iuncluding object datatype

In [32]:
%%time
results = service.search(query, maxrec=max_rec).to_table().to_pandas()
results.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   objectId          10 non-null     int64
 1   coord_ra          10 non-null     float64
 2   coord_dec         10 non-null     float64
 3   mag_g_cModel      10 non-null     float64
 4   g_cModelFluxErr   10 non-null     float64
 5   mag_i_cModel      10 non-null     float64
 6   i_cModelFluxErr   10 non-null     float64
 7   mag_r_cModel      10 non-null     float64
 8   r_cModelFluxErr   10 non-null     float64
 9   mag_u_cModel      10 non-null     float64
 10  u_cModelFluxErr   10 non-null     float64
 11  mag_y_cModel      10 non-null     float64
 12  y_cModelFluxErr   10 non-null     float64
 13  mag_z_cModel      10 non-null     float64
 14  z_cModelFluxErr   10 non-null     float64
 15  detect_isPrimary  10 non-null     bool
 16  r_extendedness    10 non-null     float64
dtypes: bool(1), float64(15), int64(1)
memory usage: 1.4 KB
CPU times: user 19.4 ms, sys: 1.91 ms, total: 21.3 ms
Wall time: 4.25 s

In [33]:
results

,objectId,coord_ra,coord_dec,mag_g_cModel,g_cModelFluxErr,mag_i_cModel,i_cModelFluxErr,mag_r_cModel,r_cModelFluxErr,mag_u_cModel,u_cModelFluxErr,mag_y_cModel,y_cModelFluxErr,mag_z_cModel,z_cModelFluxErr,detect_isPrimary,r_extendedness
0,1567798028092359809,61.290253,-37.823108,21.925642,28.080038,21.595578,59.048393,21.900913,30.657338,21.846707,89.020718,21.006309,306.253558,21.203053,164.601396,True,1.0
1,1567929969487672063,61.113473,-37.588913,21.646285,16.188883,21.353752,27.827194,21.416171,15.749252,22.337348,47.119185,21.404120,159.674967,21.346525,78.693758,True,1.0
2,1567929969487672056,61.067928,-37.588971,23.709952,21.024943,22.374693,47.538013,22.767477,24.407099,25.043426,64.425174,21.931886,235.726572,22.158206,127.810631,True,1.0
3,1567929969487672098,61.124363,-37.589575,22.429075,17.268169,21.790280,35.558223,22.332013,18.185516,22.315114,58.418107,21.368171,188.847028,21.495673,102.538001,True,1.0
4,1567929969487672099,61.123258,-37.589019,23.759419,25.970056,21.459094,59.634345,22.567717,29.900368,24.229074,79.491818,20.715860,299.483143,20.925544,164.407268,True,1.0
5,1567929969487670941,61.003225,-37.599231,22.341257,26.989035,20.172821,66.013976,20.771771,35.306884,24.382849,85.396563,19.595966,317.409938,19.844229,172.949710,True,1.0
6,1567929969487670965,61.093580,-37.595068,24.100440,16.377647,22.010373,37.310907,22.776702,18.344718,25.906351,51.197285,21.648942,198.127016,21.804808,102.945623,True,1.0
7,1567929969487670966,61.094031,-37.594012,23.840993,16.393433,22.128398,36.527867,22.596023,18.217375,24.997670,50.512568,21.884070,200.252311,21.964720,103.782157,True,1.0
8,1567929969487671127,61.082493,-37.597920,22.318689,20.053189,21.346547,42.961256,21.846055,21.860738,22.372845,66.252413,20.972292,217.435919,21.117570,114.480863,True,1.0
9,1567929969487671128,61.081724,-37.597762,23.915242,20.950325,21.281788,49.518369,22.369007,24.485426,26.831157,69.940322,20.610459,251.145152,20.869247,132.322595,True,1.0

### Async

In [26]:
job = service.submit_job(query)

In [27]:
job.run()

In [28]:
%%time
job.wait(phases=['COMPLETED', 'ERROR'])
print('Job phase is', job.phase)

Job phase is ERROR
CPU times: user 11.6 ms, sys: 775 µs, total: 12.4 ms
Wall time: 44.8 ms

In [15]:
%%time
results = job.fetch_result().to_table().to_pandas()
results.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67373 entries, 0 to 67372
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   objectId          67373 non-null  int64
 1   coord_ra          67373 non-null  float64
 2   coord_dec         67373 non-null  float64
 3   mag_g_cModel      67317 non-null  float64
 4   g_cModelFluxErr   67357 non-null  float64
 5   mag_i_cModel      67343 non-null  float64
 6   i_cModelFluxErr   67364 non-null  float64
 7   mag_r_cModel      67373 non-null  float64
 8   r_cModelFluxErr   67373 non-null  float64
 9   mag_u_cModel      66780 non-null  float64
 10  u_cModelFluxErr   67371 non-null  float64
 11  mag_y_cModel      67296 non-null  float64
 12  y_cModelFluxErr   67371 non-null  float64
 13  mag_z_cModel      67296 non-null  float64
 14  z_cModelFluxErr   67356 non-null  float64
 15  detect_isPrimary  67373 non-null  bool
dtypes: bool(1), float64(14), int64(1)
memory usage: 7.8 MB
CPU times: user 3.66 s, sys: 62.2 ms, total: 3.72 s
Wall time: 3.79 s

In [45]:
results.query("mag_g_cModel == np.nan")

UndefinedVariableError: name 'np' is not defined

In [23]:
help(results)

Help on Table in module astropy.table.table object:

class Table(builtins.object)
 |  Table(data=None, masked=False, names=None, dtype=None, meta=None, copy=True, rows=None, copy_indices=True, units=None, descriptions=None, **kwargs)
 |
 |  A class to represent tables of heterogeneous data.
 |
 |  `~astropy.table.Table` provides a class for heterogeneous tabular data.
 |  A key enhancement provided by the `~astropy.table.Table` class over
 |  e.g. a `numpy` structured array is the ability to easily modify the
 |  structure of the table by adding or removing columns, or adding new
 |  rows of data.  In addition table and column metadata are fully supported.
 |
 |  `~astropy.table.Table` differs from `~astropy.nddata.NDData` by the
 |  assumption that the input data consists of columns of homogeneous data,
 |  where each column has a unique identifier and may contain additional
 |  metadata such as the data unit, format, and description.
 |
 |  See also: https://docs.astropy.org/en/stable/table/
 |
 |  Parameters
 |  ----------
 |  data : numpy ndarray, dict, list, table-like object, optional
 |      Data to initialize table.
 |  masked : bool, optional
 |      Specify whether the table is masked.
 |  names : list, optional
 |      Specify column names.
 |  dtype : list, optional
 |      Specify column data types.
 |  meta : dict, optional
 |      Metadata associated with the table.
 |  copy : bool, optional
 |      Copy the input data. If the input is a Table the ``meta`` is always
 |      copied regardless of the ``copy`` parameter.
 |      Default is True.
 |  rows : numpy ndarray, list of list, optional
 |      Row-oriented data for table instead of ``data`` argument.
 |  copy_indices : bool, optional
 |      Copy any indices in the input data. Default is True.
 |  units : list, dict, optional
 |      List or dict of units to apply to columns.
 |  descriptions : list, dict, optional
 |      List or dict of descriptions to apply to columns.
 |  **kwargs : dict, optional
 |      Additional keyword args when converting table-like object.
 |
 |  Methods defined here:
 |
 |  __array__(self, dtype=None)
 |      Support converting Table to np.array via np.array(table).
 |
 |      Coercion to a different dtype via np.array(table, dtype) is not
 |      supported and will raise a ValueError.
 |
 |  __bytes__(self)
 |
 |  __copy__(self)
 |
 |  __deepcopy__(self, memo=None)
 |
 |  __delitem__(self, item)
 |
 |  __eq__(self, other)
 |      Return self==value.
 |
 |  __ge__(self, other)
 |      Return self>=value.
 |
 |  __getitem__(self, item)
 |
 |  __getstate__(self)
 |
 |  __gt__(self, other)
 |      Return self>value.
 |
 |  __init__(self, data=None, masked=False, names=None, dtype=None, meta=None, copy=True, rows=None, copy_indices=True, units=None, descriptions=None, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __le__(self, other)
 |      Return self<=value.
 |
 |  __len__(self)
 |
 |  __lt__(self, other)
 |      Return self<value.
 |
 |  __ne__(self, other)
 |      Return self!=value.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  __setitem__(self, item, value)
 |
 |  __setstate__(self, state)
 |
 |  __str__(self)
 |      Return str(self).
 |
 |  add_column(self, col, index=None, name=None, rename_duplicate=False, copy=True, default_name=None)
 |      Add a new column to the table using ``col`` as input.  If ``index``
 |      is supplied then insert column before ``index`` position
 |      in the list of columns, otherwise append column to the end
 |      of the list.
 |
 |      The ``col`` input can be any data object which is acceptable as a
 |      `~astropy.table.Table` column object or can be converted.  This includes
 |      mixin columns and scalar or length=1 objects which get broadcast to match
 |      the table length.
 |
 |      To add several columns at once use ``add_columns()`` or simply call
 |      ``add_column()`` for each one.  There is very little performance difference
 |      in the two approaches.
 |
 |      Parameters
 |      ----------
 |      col : object
 |          Data object for the new column
 |      index : int or None
 |          Insert column before this position or at end (default).
 |      name : str
 |          Column name
 |      rename_duplicate : bool
 |          Uniquify column name if it already exist. Default is False.
 |      copy : bool
 |          Make a copy of the new column. Default is True.
 |      default_name : str or None
 |          Name to use if both ``name`` and ``col.info.name`` are not available.
 |          Defaults to ``col{number_of_columns}``.
 |
 |      Examples
 |      --------
 |      Create a table with two columns 'a' and 'b', then create a third column 'c'
 |      and append it to the end of the table::
 |
 |          >>> t = Table([[1, 2], [0.1, 0.2]], names=('a', 'b'))
 |          >>> col_c = Column(name='c', data=['x', 'y'])
 |          >>> t.add_column(col_c)
 |          >>> print(t)
 |           a   b   c
 |          --- --- ---
 |            1 0.1   x
 |            2 0.2   y
 |
 |      Add column 'd' at position 1. Note that the column is inserted
 |      before the given index::
 |
 |          >>> t.add_column(['a', 'b'], name='d', index=1)
 |          >>> print(t)
 |           a   d   b   c
 |          --- --- --- ---
 |            1   a 0.1   x
 |            2   b 0.2   y
 |
 |      Add second column named 'b' with rename_duplicate::
 |
 |          >>> t = Table([[1, 2], [0.1, 0.2]], names=('a', 'b'))
 |          >>> t.add_column(1.1, name='b', rename_duplicate=True)
 |          >>> print(t)
 |           a   b  b_1
 |          --- --- ---
 |            1 0.1 1.1
 |            2 0.2 1.1
 |
 |      Add an unnamed column or mixin object in the table using a default name
 |      or by specifying an explicit name with ``name``. Name can also be overridden::
 |
 |          >>> t = Table([[1, 2], [0.1, 0.2]], names=('a', 'b'))
 |          >>> t.add_column(['a', 'b'])
 |          >>> t.add_column(col_c, name='d')
 |          >>> print(t)
 |           a   b  col2  d
 |          --- --- ---- ---
 |            1 0.1    a   x
 |            2 0.2    b   y
 |
 |  add_columns(self, cols, indexes=None, names=None, copy=True, rename_duplicate=False)
 |      Add a list of new columns the table using ``cols`` data objects.  If a
 |      corresponding list of ``indexes`` is supplied then insert column
 |      before each ``index`` position in the *original* list of columns,
 |      otherwise append columns to the end of the list.
 |
 |      The ``cols`` input can include any data objects which are acceptable as
 |      `~astropy.table.Table` column objects or can be converted.  This includes
 |      mixin columns and scalar or length=1 objects which get broadcast to match
 |      the table length.
 |
 |      From a performance perspective there is little difference between calling
 |      this method once or looping over the new columns and calling ``add_column()``
 |      for each column.
 |
 |      Parameters
 |      ----------
 |      cols : list of object
 |          List of data objects for the new columns
 |      indexes : list of int or None
 |          Insert column before this position or at end (default).
 |      names : list of str
 |          Column names
 |      copy : bool
 |          Make a copy of the new columns. Default is True.
 |      rename_duplicate : bool
 |          Uniquify new column names if they duplicate the existing ones.
 |          Default is False.
 |
 |      See Also
 |      --------
 |      astropy.table.hstack, update, replace_column
 |
 |      Examples
 |      --------
 |      Create a table with two columns 'a' and 'b', then create columns 'c' and 'd'
 |      and append them to the end of the table::
 |
 |          >>> t = Table([[1, 2], [0.1, 0.2]], names=('a', 'b'))
 |          >>> col_c = Column(name='c', data=['x', 'y'])
 |          >>> col_d = Column(name='d', data=['u', 'v'])
 |          >>> t.add_columns([col_c, col_d])
 |          >>> print(t)
 |           a   b   c   d
 |          --- --- --- ---
 |            1 0.1   x   u
 |            2 0.2   y   v
 |
 |      Add column 'c' at position 0 and column 'd' at position 1. Note that
 |      the columns are inserted before the given position::
 |
 |          >>> t = Table([[1, 2], [0.1, 0.2]], names=('a', 'b'))
 |          >>> t.add_columns([['x', 'y'], ['u', 'v']], names=['c', 'd'],
 |          ...               indexes=[0, 1])
 |          >>> print(t)
 |           c   a   d   b
 |          --- --- --- ---
 |            x   1   u 0.1
 |            y   2   v 0.2
 |
 |      Add second column 'b' and column 'c' with ``rename_duplicate``::
 |
 |          >>> t = Table([[1, 2], [0.1, 0.2]], names=('a', 'b'))
 |          >>> t.add_columns([[1.1, 1.2], ['x', 'y']], names=('b', 'c'),
 |          ...               rename_duplicate=True)
 |          >>> print(t)
 |           a   b  b_1  c
 |          --- --- --- ---
 |            1 0.1 1.1  x
 |            2 0.2 1.2  y
 |
 |      Add unnamed columns or mixin objects in the table using default names
 |      or by specifying explicit names with ``names``. Names can also be overridden::
 |
 |          >>> t = Table()
 |          >>> col_b = Column(name='b', data=['u', 'v'])
 |          >>> t.add_columns([[1, 2], col_b])
 |          >>> t.add_columns([[3, 4], col_b], names=['c', 'd'])
 |          >>> print(t)
 |          col0  b   c   d
 |          ---- --- --- ---
 |             1   u   3   u
 |             2   v   4   v
 |
 |  add_index(self, colnames, engine=None, unique=False)
 |      Insert a new index among one or more columns.
 |      If there are no indices, make this index the
 |      primary table index.
 |
 |      Parameters
 |      ----------
 |      colnames : str or list
 |          List of column names (or a single column name) to index
 |      engine : type or None
 |          Indexing engine class to use, from among SortedArray, BST,
 |          and SCEngine. If the supplied argument is None
 |          (by default), use SortedArray.
 |      unique : bool
 |          Whether the values of the index must be unique. Default is False.
 |
 |  add_row(self, vals=None, mask=None)
 |      Add a new row to the end of the table.
 |
 |      The ``vals`` argument can be:
 |
 |      sequence (e.g. tuple or list)
 |          Column values in the same order as table columns.
 |      mapping (e.g. dict)
 |          Keys corresponding to column names.  Missing values will be
 |          filled with np.zeros for the column dtype.
 |      `None`
 |          All values filled with np.zeros for the column dtype.
 |
 |      This method requires that the Table object "owns" the underlying array
 |      data.  In particular one cannot add a row to a Table that was
 |      initialized with copy=False from an existing array.
 |
 |      The ``mask`` attribute should give (if desired) the mask for the
 |      values. The type of the mask should match that of the values, i.e. if
 |      ``vals`` is an iterable, then ``mask`` should also be an iterable
 |      with the same length, and if ``vals`` is a mapping, then ``mask``
 |      should be a dictionary.
 |
 |      Parameters
 |      ----------
 |      vals : tuple, list, dict or None
 |          Use the specified values in the new row
 |      mask : tuple, list, dict or None
 |          Use the specified mask values in the new row
 |
 |      Examples
 |      --------
 |      Create a table with three columns 'a', 'b' and 'c'::
 |
 |         >>> t = Table([[1,2],[4,5],[7,8]], names=('a','b','c'))
 |         >>> print(t)
 |          a   b   c
 |         --- --- ---
 |           1   4   7
 |           2   5   8
 |
 |      Adding a new row with entries '3' in 'a', '6' in 'b' and '9' in 'c'::
 |
 |         >>> t.add_row([3,6,9])
 |         >>> print(t)
 |           a   b   c
 |           --- --- ---
 |           1   4   7
 |           2   5   8
 |           3   6   9
 |
 |  argsort(self, keys=None, kind=None, reverse=False)
 |      Return the indices which would sort the table according to one or
 |      more key columns.  This simply calls the `numpy.argsort` function on
 |      the table with the ``order`` parameter set to ``keys``.
 |
 |      Parameters
 |      ----------
 |      keys : str or list of str
 |          The column name(s) to order the table by
 |      kind : {'quicksort', 'mergesort', 'heapsort'}, optional
 |          Sorting algorithm.
 |      reverse : bool
 |          Sort in reverse order (default=False)
 |
 |      Returns
 |      -------
 |      index_array : ndarray, int
 |          Array of indices that sorts the table by the specified key
 |          column(s).
 |
 |  as_array(self, keep_byteorder=False, names=None)
 |      Return a new copy of the table in the form of a structured np.ndarray or
 |      np.ma.MaskedArray object (as appropriate).
 |
 |      Parameters
 |      ----------
 |      keep_byteorder : bool, optional
 |          By default the returned array has all columns in native byte
 |          order.  However, if this option is `True` this preserves the
 |          byte order of all columns (if any are non-native).
 |
 |      names : list, optional:
 |          List of column names to include for returned structured array.
 |          Default is to include all table columns.
 |
 |      Returns
 |      -------
 |      table_array : array or `~numpy.ma.MaskedArray`
 |          Copy of table as a numpy structured array.
 |          ndarray for unmasked or `~numpy.ma.MaskedArray` for masked.
 |
 |  convert_bytestring_to_unicode(self)
 |      Convert bytestring columns (dtype.kind='S') to unicode (dtype.kind='U')
 |      using UTF-8 encoding.
 |
 |      Internally this changes string columns to represent each character
 |      in the string with a 4-byte UCS-4 equivalent, so it is inefficient
 |      for memory but allows scripts to manipulate string arrays with
 |      natural syntax.
 |
 |  convert_unicode_to_bytestring(self)
 |      Convert unicode columns (dtype.kind='U') to bytestring (dtype.kind='S')
 |      using UTF-8 encoding.
 |
 |      When exporting a unicode string array to a file, it may be desirable
 |      to encode unicode columns as bytestrings.
 |
 |  copy(self, copy_data=True)
 |      Return a copy of the table.
 |
 |      Parameters
 |      ----------
 |      copy_data : bool
 |          If `True` (the default), copy the underlying data array.
 |          Otherwise, use the same data array. The ``meta`` is always
 |          deepcopied regardless of the value for ``copy_data``.
 |
 |  field(self, item)
 |      Return column[item] for recarray compatibility.
 |
 |  filled(self, fill_value=None)
 |      Return copy of self, with masked values filled.
 |
 |      If input ``fill_value`` supplied then that value is used for all
 |      masked entries in the table.  Otherwise the individual
 |      ``fill_value`` defined for each table column is used.
 |
 |      Parameters
 |      ----------
 |      fill_value : str
 |          If supplied, this ``fill_value`` is used for all masked entries
 |          in the entire table.
 |
 |      Returns
 |      -------
 |      filled_table : `~astropy.table.Table`
 |          New table with masked values filled
 |
 |  group_by(self, keys)
 |      Group this table by the specified ``keys``
 |
 |      This effectively splits the table into groups which correspond to unique
 |      values of the ``keys`` grouping object.  The output is a new
 |      `~astropy.table.TableGroups` which contains a copy of this table but
 |      sorted by row according to ``keys``.
 |
 |      The ``keys`` input to `group_by` can be specified in different ways:
 |
 |        - String or list of strings corresponding to table column name(s)
 |        - Numpy array (homogeneous or structured) with same length as this table
 |        - `~astropy.table.Table` with same length as this table
 |
 |      Parameters
 |      ----------
 |      keys : str, list of str, numpy array, or `~astropy.table.Table`
 |          Key grouping object
 |
 |      Returns
 |      -------
 |      out : `~astropy.table.Table`
 |          New table with groups set
 |
 |  index_column(self, name)
 |      Return the positional index of column ``name``.
 |
 |      Parameters
 |      ----------
 |      name : str
 |          column name
 |
 |      Returns
 |      -------
 |      index : int
 |          Positional index of column ``name``.
 |
 |      Examples
 |      --------
 |      Create a table with three columns 'a', 'b' and 'c'::
 |
 |          >>> t = Table([[1, 2, 3], [0.1, 0.2, 0.3], ['x', 'y', 'z']],
 |          ...           names=('a', 'b', 'c'))
 |          >>> print(t)
 |           a   b   c
 |          --- --- ---
 |            1 0.1   x
 |            2 0.2   y
 |            3 0.3   z
 |
 |      Get index of column 'b' of the table::
 |
 |          >>> t.index_column('b')
 |          1
 |
 |  index_mode(self, mode)
 |      Return a context manager for an indexing mode.
 |
 |      Parameters
 |      ----------
 |      mode : str
 |          Either 'freeze', 'copy_on_getitem', or 'discard_on_copy'.
 |          In 'discard_on_copy' mode,
 |          indices are not copied whenever columns or tables are copied.
 |          In 'freeze' mode, indices are not modified whenever columns are
 |          modified; at the exit of the context, indices refresh themselves
 |          based on column values. This mode is intended for scenarios in
 |          which one intends to make many additions or modifications in an
 |          indexed column.
 |          In 'copy_on_getitem' mode, indices are copied when taking column
 |          slices as well as table slices, so col[i0:i1] will preserve
 |          indices.
 |
 |  insert_row(self, index, vals=None, mask=None)
 |      Add a new row before the given ``index`` position in the table.
 |
 |      The ``vals`` argument can be:
 |
 |      sequence (e.g. tuple or list)
 |          Column values in the same order as table columns.
 |      mapping (e.g. dict)
 |          Keys corresponding to column names.  Missing values will be
 |          filled with np.zeros for the column dtype.
 |      `None`
 |          All values filled with np.zeros for the column dtype.
 |
 |      The ``mask`` attribute should give (if desired) the mask for the
 |      values. The type of the mask should match that of the values, i.e. if
 |      ``vals`` is an iterable, then ``mask`` should also be an iterable
 |      with the same length, and if ``vals`` is a mapping, then ``mask``
 |      should be a dictionary.
 |
 |      Parameters
 |      ----------
 |      vals : tuple, list, dict or None
 |          Use the specified values in the new row
 |      mask : tuple, list, dict or None
 |          Use the specified mask values in the new row
 |
 |  items(self)
 |
 |  itercols(self)
 |      Iterate over the columns of this table.
 |
 |      Examples
 |      --------
 |
 |      To iterate over the columns of a table::
 |
 |          >>> t = Table([[1], [2]])
 |          >>> for col in t.itercols():
 |          ...     print(col)
 |          col0
 |          ----
 |             1
 |          col1
 |          ----
 |             2
 |
 |      Using ``itercols()`` is similar to  ``for col in t.columns.values()``
 |      but is syntactically preferred.
 |
 |  iterrows(self, *names)
 |      Iterate over rows of table returning a tuple of values for each row.
 |
 |      This method is especially useful when only a subset of columns are needed.
 |
 |      The ``iterrows`` method can be substantially faster than using the standard
 |      Table row iteration (e.g. ``for row in tbl:``), since that returns a new
 |      ``~astropy.table.Row`` object for each row and accessing a column in that
 |      row (e.g. ``row['col0']``) is slower than tuple access.
 |
 |      Parameters
 |      ----------
 |      names : list
 |          List of column names (default to all columns if no names provided)
 |

In [17]:
del results

## Questions/Reflections

- O que é isso scisql_nanojanskyToAbMag? todos os notebooks usam eu usei tmb, pelo visto ele calcula o um valor em notação cientifica para que a magnitude na banda.
    unidade de grandeza de fluxo -> mag 
    
- Como que eu sei tamanhos de tabela por exemplo para rodar tudo q for galáxia?